django==3.1.3
# for Cross-Origin Resource Sharing
django-cors-headers==3.5.0
# restful api framework
djangorestframework==3.12.0

# HTTP server for WSGI application
gunicorn==20.1.0

# server application on heroku
django-heroku==0.3.1
whitenoise==5.3.0

# retrieve value from environment variables
python-dotenv==0.19.0

# for switch between PostgreSQL for production and sqlite3 for development
psycopg2==2.9.1
psycopg2-binary==2.9.1
dj-database-url